{% extends 'blog/base.html' %}

{% block content %}
    <div>
            <h1><a href="/">Django Girls Blog</a></h1>
    </div>
	<div>
		{% for post in posts %}
			<div>
				<p>published: {{ post.date }}</p>
				<h2><a href="">{{ post.headline }}</a></h2>
				<p>{{ post.pk }}</p>
				<p>{{ post.details|linebreaksbr }}</p>
			</div>
		{% endfor %}
	</div>
	{% if user.is_authenticated %}
		Hi {{ user.username }}!
		<p><a href="{% url 'logout' %}">logout</a></p>
	{% else %}
		<p>You are not logged in</p>
		<a href="{% url 'login' %}">login</a>
	{% endif %}
{% endblock %}
